.page-header {
  position:  relative;
  background-color: #ffffff;
  margin-top: 0;
  height: 150px;
  border-bottom: 1px solid #0e0d0d;
}

.page-header img {
position:  absolute;
top: 0;
/* bottom: 0; */
left: 0;
right: 0;
height: 100%;
width: 100%;
margin: auto;
transition: transform .40s ease-out;
filter: alpha(Opacity=25);
opacity: 0.25; 
}

.store-name{
  position: absolute;
  top: 8px;
  left: 60px;
}

.store-name a{
  font-family: 'Roboto', sans-serif;
  color: rgb(7, 6, 63);
  text-decoration: none;
  font-size: 30px;
  font-weight: normal;
  line-height: 3;
}

.store-name a:before {
  content: ""; 
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 80%;
  height: 80%;
  border-radius: 50%/30%;
  border: 3px solid rgb(7, 6, 63);
  border-left-color: transparent;
  border-right-color: transparent;
}

@media (max-width: 4px) {
  .store-name a {font-size: 1em;}
}

nav {position: absolute;
  bottom: 8px;
  left: 16px;
}
.topmenu {
backface-visibility: hidden;
}
.topmenu > li {
display: inline-block;
position: relative;
}
.topmenu > li > a {
font-weight: normal;
height: 0;
line-height: 0px;
padding: 40px ;
/* font-weight: bold; */
color: rgb(7, 6, 63);
text-transform: uppercase;
font-size: 18px ;
font-family: 'Roboto', sans-serif;
}
.topmenu li a:hover {color: #7391d3;}
