{% extends "store/base.html" %}


{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/catalog.css' %}?version=9">

<div class="container-fluid">
    <div class="row">        
        {% for val in categories %}

            <div class="col-md-6 nopadding">
                <div class="catalog">
                    <a href="{% url 'catalog category'  category_name=val.translit_title%}">
                            <img src="{{ val.img.url }}" alt="">
                            <p > {{val.title}} </p>
                    </a>
                </div>
            </div>
            {% endfor %}
    </div>
</div>
{% endblock %}

    
