{% extends "store/base.html" %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="widget">
                <h3 class="widget-title">Категории</h3>
                <ul class="widget-list">
                    {% for key, val in dict.items %}
                        <li><a href="">{{key}}</a></li>
                    {% endfor %}
                </ul>
            </div>

        </div>
        
        <div class="col-md-9">
            <!-- </div class="products"> -->
                {% for key, val in dict.items %}
                    <div class="col-md-8">
                        <a href="" class="product">
                            <div class="product-photo">
                                <img src="{{ val.img.url }}" alt="">  
                            </div> 

                            <div class="text-block">
                                    <p > {{val.title}} </p>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            <!-- </div> -->
        </div>
    </div>
</div>
{% endblock %}